*{
    font-family: Raleway;
}
#element::-webkit-scrollbar { 
    display: none; 
}
body{
    background:#3385FF;
}

#Chooser{
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    color:#B8B8B8;
    text-shadow: 1px 1px #626262;
} 
#Chooser1{
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    color:#B8B8B8;
    text-shadow: 1px 1px #626262;
} 
#clicky{
    height:50px;
    width: 225px;
    font-size: 18px;
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#FFFFFF;
}

#clicky:hover{
    background-color: #388659;
    cursor:pointer;
}
#clicky1{
    height:50px;
    width: 225px;
    font-size: 18px;
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#FFFFFF;
}

#clicky1:hover{
    background-color: #388659;
    cursor:pointer;
}
#clicky2{
    height:50px;
    width: 225px;
    font-size: 18px;
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#FFFFFF;
}

#clicky2:hover{
    background-color: #388659;
    cursor:pointer;
}
#clicky3{
    height:50px;
    width: 225px;
    font-size: 18px;
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#FFFFFF;
}

#clicky3:hover{
    background-color: #388659;
    cursor:pointer;
}
#clicky4{
    height:50px;
    width: 225px;
    font-size: 18px;
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#FFFFFF;
}

#clicky4:hover{
    background-color: #388659;
    cursor:pointer;
}
#clicky5{
    height:50px;
    width: 225px;
    font-size: 18px;
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#FFFFFF;
}

#clicky5:hover{
    background-color: #388659;
    cursor:pointer;
}
#clicky6{
    height:50px;
    width: 225px;
    font-size: 18px;
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#FFFFFF;
}

#clicky6:hover{
    background-color: #388659;
    cursor:pointer;
}
#clicky7{
    height:50px;
    width: 225px;
    font-size: 18px;
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#FFFFFF;
}

#clicky7:hover{
    background-color: #388659;
    cursor:pointer;
}
.container
{
    width:90%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}
.custom-dropdown__select:hover{
    cursor:pointer;
}
.custom-dropdown__select--emerald {
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    color: #FFFFFF;
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 5px solid #136B56;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        border: 5px solid #136B56;
        border-radius: 3px;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--emerald::before {
        background-color: #52AA5E;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--emerald::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select             { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}
.DNA, .Lengths, .Genes, .Ranges, .PLUSMINUS, .MINUSSTRANDS, .PROTEINS, .HASH
{
    font-size:16px;
    font-family: Raleway;
    width:85%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background:#99C2FF;
    border: 5px solid #0A1B33;
    border-radius: 25px;
    word-wrap:break-word;
}
.hide_this{
    display:none;
}
#IMAGE{
    border: 5px solid #136B56;
    border-radius: 3px;
}
.LINKER{
    font-family: Raleway;
    text-decoration: none;
    height:50px;
    width: 275px;
    font-size: 18px;
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#FFFFFF;
}

.LINKER:hover{
    background-color: #388659;
    cursor:pointer;
}
#Message{
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
    color:#B8B8B8;
    text-shadow: 1px 1px #626262;
}
.REKT
{
    display: inline-block;  
    margin: 2px;
}

#Submit{
    height:50px;
    width: 100px;
    font-size: 18px;
    background-color: #52AA5E;
    border: 5px solid #136B56;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color:#FFFFFF;
}

#Submit:hover{
    background-color: #388659;
    cursor:pointer;
}
#Title{
    font-family: Raleway;
    text-decoration: none;
    font-size: 48px;
    color:#F2EE7A;
}
#TitleSub{
    font-family: Raleway;
    font-size: 24px;
    font-weight: bold;
    color:#B8B8B8;
    text-shadow: 1px 1px #626262;
}