a {
    text-decoration: none;
}
html{
    font-family: "Raleway";
}

#copy{
    color: white;
}
.cool{
    pointer-events:none;
}
.pool{
    pointer-events:all;
}
.test{
    opacity: 0;
}

.test.load {
    opacity: 1;
}
.ih-item{
    left:0;
    right:0;
    margin:auto;
}
#MoiContainer{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#MoiChild
{
    position: relative;
    top: 50%;
    transform:translateY(50%);
}
.tilt:hover {
    -webkit-filter: none;
    filter: none;
}
.tilt {
    -webkit-filter: grayscale(100%) brightness(105%) contrast(120%);
    filter: grayscale(100%) brightness(105%) contrast(120%);
    -webkit-transition: filter 0.5s, -webkit-filter 0.5s;
    transition: filter 0.5s, -webkit-filter 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.tilt__back,
.tilt__front {
    width: 100%;
    height: 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.tilt__back {
    position: relative;
    overflow: hidden;
}

.tilt__front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#LINKEDIN, #FACEBOOK, #INSTAGRAM, #TWITTER, #GITHUB{
    height: 75px;
    background: rgba(255, 255, 255, 0.5);
    border: 5px solid black;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
}
#LINKEDIN:hover {
    background: #0077B5;
    opacity: 0.75;
    
}
#LINKEDIN:hover:after {
    background: #0077B5;
    opacity: 0.95;
    
}
#FACEBOOK:hover {
    background: #3b5998;
    opacity: 0.75;
    
}
#FACEBOOK:hover:after {
    background: #3b5998;
    opacity: 0.95;
    
}
#INSTAGRAM:hover {
    background: #517fa4;
    opacity: 0.75;
    
}
#INSTAGRAM:hover:after {
    background: #517fa4;
    opacity: 0.95;
    
}
#TWITTER:hover {
    background: #3cf;
    opacity: 0.75;
    
}
#TWITTER:hover:after {
    background: #3cf;
    opacity: 0.95;
    
}
#GITHUB:hover {
    background: #333;
    opacity: 0.75;
    
}
#GITHUB:hover:after {
    background: #333;
    opacity: 0.95;
    
}

@media only screen and (max-width: 780px) {
    #LINKEDIN {
        height: 50px;
        background: rgba(255, 255, 255, 0.5);
        border: 5px solid black;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -o-transition: .5s ease-out;
    }
    #FACEBOOK {
        height: 50px;
        background: rgba(255, 255, 255, 0.5);
        border: 5px solid black;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -o-transition: .5s ease-out;
    }
    #INSTAGRAM {
        height: 50px;
        background: rgba(255, 255, 255, 0.5);
        border: 5px solid black;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -o-transition: .5s ease-out;
    }
    #TWITTER {
        height: 50px;
        background: rgba(255, 255, 255, 0.5);
        border: 5px solid black;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -o-transition: .5s ease-out;
    }
    #GITHUB {
        height: 50px;
        background: rgba(255, 255, 255, 0.5);
        border: 5px solid black;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -o-transition: .5s ease-out;
    }
}
