{% extends 'base.html' %}

{% block content %}
<section class="page" style="text-align:center; padding-top: 8rem; padding-bottom: 8rem;">
    <p class="kicker">404</p>
    <h1>Nothing here.</h1>
    <p class="empty mono">// whatever was here has flown off.</p>
    <p style="margin-top:2rem;">
        <a class="btn btn-inline" style="background:var(--green);color:#fff;border-color:var(--green);" href="/">Back home &rarr;</a>
        &nbsp;
        <a class="btn btn-inline" href="/birds">See the birds &rarr;</a>
    </p>
</section>
{% endblock %}
