<div id="nav" class="dropdown">
  <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">
    Choose a
    <br>background effect
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
        <a class="main-link" href="/collision"> 
            <span>
                <i id='collision-source' class="fa fa-link source-link" data-toggle="tooltip" data-placement="right" title="Open effect's source">
                </i>
            </span>
            Collision Detection
        </a>
    </li>
    <li>
        <a class="main-link" href="/tilt-shift">
            <span><i id='tilt-shift-source' class="fa fa-link source-link" data-toggle="tooltip" data-placement="right" title="Open effect's source"></i></span>
            Tilt Shift
        </a>
    </li>
    <li>
        <a class="main-link" href="/voronoi">
            <span><i id='voronoi-source' class="fa fa-link source-link" data-toggle="tooltip" data-placement="right" title="Open effect's source"></i></span>
            Voronoi Diagram
        </a>
    </li>
  </ul>
</div>