<!DOCTYPE html>
<html lang="en" class = "inner">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Styles.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    {% block css %}
    {% endblock %}
</head>

<title>{{ title }}</title>
<div class="page-wrap">
    <body>
        {% include 'choose-effect.html' %}

        {% block background %}{% endblock %}

        <div class="container-fluid">
            {% include 'nav.html' %}
            {% include 'moi.html' %}
        </div>
    </div>
</body>
<div id="footer" class="cool">
    <br>
    <div id="copy" class="text-muted">
        &copy; 2014
        <script>
        new Date().getFullYear() > 2014 && document.write("-" + new Date().getFullYear());
        </script>, Scott Ouellette
        <p>Hosted with the aid of
            <a class="pool" href="https://github.com/Miserlou/Zappa">Zappa</a>
        </p>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% block js %}
{% endblock %}
{% include 'source-handlers.html' %}
{% include 'ga.html' %}
<script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</html>
