<div id="MoiContainer" class="cool center-block" style="text-align:center;">
    <div id="MoiChild" class="center-block">
        <div class="pool" style="display: inline-block;">
            <div id="One" class="ih-item circle colored effect19">
                <a href="/">
                  <div class="img pool">
                    <img id="Moi" src="{{ url_for('static', filename='img/new.png') }}" alt="img">
                  </div>
                </a>
            </div>
        </div>
    </div>
</div>