{% extends 'index.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/poisson-disc.css') }}"/>
{% endblock %}

{% block background %}
    <div id="poisson-disc">
        <img id="poisson-background" src="{{ url_for('static', filename='img/bg3.png') }}">
    </div>
{% endblock %}

{% block js %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/poisson-disc.js') }}"></script>
{% endblock %}